@import './blocks';
@import './assets/header-sec.scss';
@import './assets/contact-consult';
@import './assets/appoinment-form';


.testimonials {
    background-color: $Main-blue;

    &__wrapper {
        padding-top: rem(200px);
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        @media (max-width: 701px) {
            flex-direction: column;
            align-items: center;
        }
    }
}

.testimonials__single {
    display: flex;
    flex-direction: column;
    padding: rem(58px) rem(61px);
    background-color: #2E3947;
    max-width: 29.227273rem;
    margin-top: rem(32px);

    @media (max-width: 801px) {
        max-width: 25.227273rem;
        padding: 2.636364rem 1.772727rem;
    }
    @media (max-width: 701px) {
        max-width: 29.227273rem;
        padding: rem(58px) rem(61px);
    }
    @media (max-width: 401px) {
        padding: 2.636364rem 1.772727rem;
        max-width: 100%;
    }

    &:first-child {
        margin-top: 0;
    }
    &:nth-child(2) {
        margin-top: 0;

        @media (max-width: 701px) {
            margin-top: rem(32px);
        }
    }
    &:nth-child(2n) {
        margin-left: rem(25px);

        @media (max-width: 701px) {
            margin-left: 0;
        }
    }
}
.testimonials__single-avatar {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: rem(31px);

    &::after {
        content: "";
        display: block;
        width: rem(74px);
        height: rem(74px);
        background: url('https://res.cloudinary.com/ducmdk54f/image/upload/q_auto/v1/Attornyster/workers/yfxqytmef6qxa1yakt0l') no-repeat;
        background-size: 100%;
        position: absolute;
        right: 0;
    }
    &-img {
        width: rem(84px);
        height: rem(84px);
        margin-right: rem(22px);
    }
}